body {
  font-family: "Roboto";
}
.header {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
}
input {
  max-width: 100% auto;
  font-size: 20px;
  font-family: "Roboto";
  color: #ff00aa;
  margin: 10px;
  border: 2px solid green;
  border-radius: 3px;
}
table {
  margin: 0px auto;
}
.main {
  background-color: #00fa9a;
  border-radius: 5px;
}
.news_items {
  padding: 25px;
  border-bottom: 2px solid;
}
.new_list_header {
  border-left: 10px solid red;
  border-radius: 5px;
  background-color: greenyellow;
  padding: 10px;
  font-weight: bold;
}
