body {
  font-family: "Roboto";
}
.header {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #ffaaff;
}
input {
  font-size: 40px;
  font-family: "Roboto";
  font-weight: bold;
  color: #ff00aa;
}
table {
  margin: 0px auto;
}
.main {
  background-color: #00fa9a;
}
